.venv
PyGolden/venv/
__pycache__/
.ipynb_checkpoints/

testvectors/
modelsim.ini
transcript
work/

*~
html
bender/
.bender/
mxcore-rtl/sim/build/
mxcore-rtl/sim/modelsim.ini
mxcore-rtl/sim/transcript
mxcore-rtl/sim/work/
